extends layout

block content
  h1.title DrinkBot 1.0
  h2.subtitle Automated Drink Mixing Robot

  ul
    li
      a(href='/0/2000') Pump 0
    li
      a(href='/1/2000') Pump 1
    li
      a(href='/2/2000') Pump 2
